/* THEME STYLES */

// Font import
@import url(https://db.onlinewebfonts.com/c/f22b66fd8208f04c026f2ddd89468cb5?family=Piepie+W01+Regular);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
// Normalize
* {
    margin: 0;
    box-sizing: border-box;
}

/* body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", sans-serif !important;
} */

// Theme Colors
$black: #464646;
$gray-1: #EFEFEF;
$gray-2: #CBCBCB;
$gray-3: #4E4F50;
$white: #ffffff;
$blue: #0091FC;
$violet: #A74CFB;
$orange: #FF7F00;
$pink: #FF22CC;
$green: #00FF81;
$light-green: #98FFE1;
$yellow: #FFEC00;


// Buttons
/* @mixin button($variant: primary) {
    box-sizing: border-box;
    font-weight: bold;
    text-decoration: none;
    padding: 0 15px;
    height: 35px;
    border-radius: 5px;
    font-family: "Noto Sans", sans-serif;
    display: inline-block;
    align-content: center;
    ;
    &:focus {
        box-shadow: none;
    }
    &:hover {
        background-color: $violet;
    }
    &:active {
        transform: scale(.95);
    }
    @if $variant==primary {
        background-color: $violet;
        color: white;
        border: none;
    }
    @if $variant==secondary {
        background-color: transparent;
        color: $gray-3;
        border: 1px solid $violet;
        &:hover {
            background-color: $gray-1;
        }
    }
} */

// General Styles
#page-content,
#lambda-incourse-header,
.wrapper-lambda .back {
    max-width: 1000px !important;
    margin: auto;
    width: 100%;
}

/* .back a {
    font-size: 0;
} */

/* .back a::after {
    content: "← Volver";
    font-size: 1.2rem;
    font-weight: 500;
} */

.destacado {
    background-color: #F4F1FF;
    padding: 2rem;
    margin-bottom: 1rem;
}

/* h1,
h2,
h3 {
    font-family: "Piepie W01 Regular", sans-serif;
} */

/* .section-navigation.navigationtitle {
    display: none !important;
} */


// Recurso Página
/* #page-mod-page-view {
    #page-content {
        h3 {
            color: $violet;
        }
    }
} */

// Estilos de los Recursos - sin edición activa
/* body:not(.editing) {
    li.activity:not(.label) .activity-item{
            background-color: $gray-1;
        }
    li.activity {        
        .activity-item:has(.btn-success) {
            background-color: $green;
        }
        .activity-grid {
            a.activityiconcontainer {
                background: transparent;
                width: 0;
                margin-right: 0 !important;
                min-width: initial;
                img {
                    display: none;
                }
            }
            .activity-name-area {
                font-weight: bold;
                font-size: 1.15rem;
            }
            .activity-completion {
                .activity-information {
                    .completion-info {}
                }
            }
            .activity-altcontent {
                border-top: 0;
                margin-top: 0;
                padding-top: 0;
                span {
                    color: white;
                    font-size: .75rem;
                    font-weight: bold;
                    background-color: $yellow;
                    padding: 4px 10px;
                    border-radius: 1500px;
                    text-transform: uppercase;
                }
            }
        }
    }
} */