/* THEME STYLES */

// Font import
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
// Normalize
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Noto Sans", sans-serif !important;
}

// Theme Colors
$black: #464646;
$gray-1: #EFEFEF;
$gray-2: #CBCBCB;
$gray-3: #4E4F50;
$white: #ffffff;
$violet: #8A38F5;
$dark-violet: #681DC9;
$light-violet: #9C73FF;
$green: #2ADD98;
$dark-green: #28CB8D;
$yellow: #FFBE1D;
// Buttons
@mixin button($variant: primary) {
    box-sizing: border-box;
    font-weight: bold;
    text-decoration: none;
    padding: 0 15px;
    height: 35px;
    border-radius: 5px;
    font-family: "Noto Sans", sans-serif;
    display: inline-block;
    align-content: center;
    ;
    &:focus {
        box-shadow: none;
    }
    &:hover {
        background-color: $dark-violet;
    }
    &:active {
        transform: scale(.95);
    }
    @if $variant==primary {
        background-color: $violet;
        color: white;
        border: none;
    }
    @if $variant==secondary {
        background-color: transparent;
        color: $gray-3;
        border: 1px solid $violet;
        &:hover {
            background-color: $gray-1;
        }
    }
}

// General Styles
#page-content,
#lambda-incourse-header,
.wrapper-lambda .back {
    max-width: 1000px !important;
    margin: auto;
    width: 100%;
}

.back a {
    font-size: 0;
}

.back a::after {
    content: "← Volver";
    font-size: 1.2rem;
    font-weight: 500;
}

.destacado {
    background-color: #F4F1FF;
    padding: 2rem;
    margin-bottom: 1rem;
}

h1,
h2,
h3 {
    font-family: "Noto Sans", sans-serif;
}

.section-navigation.navigationtitle {
    display: none !important;
}

#page-course-view-grid {
    #page-content {
        p.text-right {
            text-align: left !important;
            margin: 3rem 0;
        }
        p.text-right a {
            font-size: 0;
        }
        .text-right a::after {
            content: "← Volver";
            font-size: 1.2rem;
            font-weight: 500;
        }
        .btn-primary {
            @include button(primary);
        }
        .btn-secondary {
            @include button(secondary);
        }
        li.section {
            .course-section-header {
                h3 {
                    a {
                        font-size: 3rem;
                        color: $dark-violet;
                    }
                }
            }
            .content {
                h3 {
                    font-family: "Noto Sans", sans-serif;
                    font-weight: bold;
                    color: $violet;
                    font-size: 2.5rem;
                    margin-bottom: 1.5rem;
                }
                .editor-indent,
                .quote {
                    border-left: 5px solid $violet;
                    margin-left: 0 !important;
                    padding: .75rem 0 .75rem 1.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
        // Tarjetas modulos
        .thegrid {
            gap: 3rem 1rem;
            #section-3 {
                .card-header.text-truncate {
                    display: flex;
                    flex-direction: column;
                }
                .card-header.text-truncate::before {
                    content: "Módulo 1";
                    margin-bottom: 0.25em;
                }
            }
            #section-4 {
                .card-header.text-truncate {
                    display: flex;
                    flex-direction: column;
                }
                .card-header.text-truncate::before {
                    content: "Module 1";
                    margin-bottom: 0.25em;
                }
            }
            #section-5 {
                .card-header.text-truncate {
                    display: flex;
                    flex-direction: column;
                }
                .card-header.text-truncate::before {
                    content: "Módulo 2";
                    margin-bottom: 0.25em;
                }
            }
            #section-6 {
                .card-header.text-truncate {
                    display: flex;
                    flex-direction: column;
                }
                .card-header.text-truncate::before {
                    content: "Module 2";
                    margin-bottom: 0.25em;
                }
            }
            #section-7 {
                .card-header.text-truncate {
                    display: flex;
                    flex-direction: column;
                }
                .card-header.text-truncate::before {
                    content: "Módulo 3";
                    margin-bottom: 0.25em;
                }
            }
            #section-8 {
                .card-header.text-truncate {
                    display: flex;
                    flex-direction: column;
                }
                .card-header.text-truncate::before {
                    content: "Module 3";
                    margin-bottom: 0.25em;
                }
            }
            .grid-section.card {
                width: 280px;
                height: 300px;
                a.grid-section-inner {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    .card-header.text-truncate {
                        order: 2;
                        overflow: initial;
                        text-overflow: initial;
                        white-space: normal;
                        height: 100%;
                        font-size: 1.5rem;
                        font-weight: bold;
                        line-height: 120%;
                        color: $gray-3;
                        padding: 2rem 1.5rem;
                    }
                    .grid-image,
                    .grid-generatedimage {
                        order: 1;
                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                        .grid-completion {
                            right: 6%;
                            top: 9%;
                        }
                    }
                }
                .card-header {
                    background-color: $gray-1;
                }
            }
            .grid-section.card:has(.grid-percentagevalue-100) {
                .card-header {
                    background-color: $dark-green;
                    color: white !important;
                }
                .grid-completion {
                    background-color: white;
                    color: $dark-green;
                    font-weight: 700;
                    border-color: $dark-green;
                }
            }
            .grid-section.card:has(.grid-completion-colour-middle) {
                .card-header {
                    background-color: $violet;
                    color: white !important;
                }
                .grid-completion {
                    background-color: white;
                    color: $violet;
                    font-weight: 700;
                    //border-color: $violet;
                    //border-bottom-color: red;
                    //border-right-color: red;
                    //border-left-color: pink;
                }
            }
            .grid-section.card:has(.grid-percentagevalue-0) {
                .card-header {
                    background-color: $gray-1;
                }
                .grid-completion {
                    background-color: white;
                    color: $gray-3;
                    font-weight: 700;
                    border-color: $gray-2;
                }
            }
        }
    }
}

// Recurso Página
#page-mod-page-view {
    #page-content {
        h3 {
            color: $violet;
        }
    }
}

// Estilos de los Recursos - sin edición activa
body:not(.editing) {
    li.activity:not(.label) .activity-item{
            background-color: $gray-1;
        }
    li.activity {        
        .activity-item:has(.btn-success) {
            background-color: $green;
        }
        .activity-grid {
            a.activityiconcontainer {
                background: transparent;
                width: 0;
                margin-right: 0 !important;
                min-width: initial;
                img {
                    display: none;
                }
            }
            .activity-name-area {
                font-weight: bold;
                font-size: 1.15rem;
            }
            .activity-completion {
                .activity-information {
                    .completion-info {}
                }
            }
            .activity-altcontent {
                border-top: 0;
                margin-top: 0;
                padding-top: 0;
                span {
                    color: white;
                    font-size: .75rem;
                    font-weight: bold;
                    background-color: $yellow;
                    padding: 4px 10px;
                    border-radius: 1500px;
                    text-transform: uppercase;
                }
            }
        }
    }
}